body {
    background: darkblue;
    
}

#upperbox {
    text-align: center;
    margin: 30px;
    color: red;
    font-size: 30px;
}

#field {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 707px;
    background: lightcoral;
    row-gap: 1px;
    column-gap: 1px;
    align-items: center;
    border: 10px solid white;
    
}

.circle {
    width: 100px;
    height: 100px;
    background-color: white;
    box-shadow: inset 0 0 0 1px #333;
    display: block;
    border-radius: 50px;
    

}

#restart {
    display: block;
    margin: 0 auto;
    width: 200px;
    background: lightblue;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid darkblue;
    color: black;
    text-transform: uppercase;
}


